.nav {
  padding: 10px 7px;
  background: tomato;

  .nav-items {
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;

    .logo {
      font-size: 25px;
      font-weight: bolder;
    }

    .search {
      border: 1px solid white;
      padding: 0 8px;
      border-radius: 10px;
      color: white;
      min-width: 300px;

      svg {
        color: white;
      }

      fieldset {
        border: none !important;
        top: 0;
      }

      .css-1h51icj-MuiAutocomplete-root .MuiOutlinedInput-root {
        padding: 3px 0;
      }

      input {
        width: 100%;
        border-radius: 15px;
        padding: 6px 3px;
        color: white;
      }
    }

    .login {
      display: none;
      color: white;
      background-color: tomato;
      border: 1px solid white;
    }

    .nav-icons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-basis: 35%;

      a {
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        background: transparent;
        border: none;
        color: whitesmoke;
      }
    }

    .menu {
      display: none;
    }
  }
}

.drawer {
  display: block;
}

@media (max-width: 800px) and (min-width: 650px) {
  .nav {
    .nav-items {
      .nav-icons {
        a {
          span {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .nav {
    .nav-items {
      display: flex;
      margin-bottom: 5px;
      padding: 3px 0;
      align-items: center;

      .logo {
        font-size: 18px;
      }

      .menu {
        display: block;
        position: absolute;
        top: 18px;
        left: 9px;
      }

      .search {
        display: none;
      }

      .login {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .nav-icons {
        display: none;
      }
    }

    .nav-search {
      max-width: 400px;
      margin: 0 auto;
      margin-top: 15px;
      position: relative;

      .search {
        border: 1px solid white;
        padding: 0 8px;
        border-radius: 10px;
        color: white;
        min-width: 280px;
        max-width: 350px;
        margin: 0 auto;

        svg {
          color: white;
        }

        fieldset {
          border: none !important;
          top: 0;
        }

        .css-1h51icj-MuiAutocomplete-root .MuiOutlinedInput-root {
          padding: 3px 0;
        }

        input {
          width: 100%;
          border-radius: 15px;
          padding: 6px 3px;
          color: white;
        }
      }
    }
  }

  .drawer {
    width: 300px;

    .clear {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 28px;
    }

    .profile {
      display: flex;
      justify-content: center;

      a {
        text-decoration: none;
      }

      h2 {
        margin-top: 30px;
        margin-bottom: 10px;
        text-align: center;
        color: black;
      }
    }

    .navigate {
      margin-top: 50px;
      display: flex;
      flex-direction: column;

      a {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 12px 10px;
        gap: 10px;
        border-bottom: 1px solid #aaa;
        cursor: pointer;
        text-decoration: none;
        color: black;

        span {
          font-weight: 600;
        }

        &:hover {
          background-color: tomato;
          color: white;
        }
      }
    }
    a[href="/help"] {
      position: absolute;
      top: 600px;
      right: 40%;
    }
  }
}
