main.main-search {
  background-color: #eee;
  min-height: 100vh;

  section.search {
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: center;

    .input {
      height: 40px;
      margin: 15px;
      width: 600px;
      padding: 0 12px;
      border: none;

      input {
        padding: 0 12px;
      }
    }
  }

  section.products {
    display: flex;
    justify-content: space-between;

    .box-not-product {
      display: flex;
      min-height: 400px;
      justify-content: center;
      align-items: center;
      opacity: 0.6;
    }

    .products-flex {
      width: 100%;
      order: 1;
    }

    .filters {
      width: 300px;
      order: 0;
      padding: 15px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 15px;

      h3 {
        font-size: 1.1rem;
        margin-bottom: 5px;
      }

      .category {
        padding-left: 10px;
      }

      fieldset {
        padding: 5px 15px;

        h3 {
          margin: 0;
        }
      }
    }
  }
}

.fliter-drawer {
  position: relative;

  .close {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;

    svg {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 32px;
    }
  }

  .mobile-filter {
    width: 300px;
    padding: 70px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .categories {
      width: 200px;
      flex: none;

      .category {
        padding-left: 20px;
      }
    }

    h3 {
      font-size: 18px;
    }

    fieldset {
      width: 80%;
    }

    .price {
      width: 200px;
    }

    .rating {
      width: 200px;
      margin: 0 10px;
    }
  }
  .button {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #eee;
    display: flex;
    align-items: center;

    div {
      position: absolute;
      right: 10px;
    }
  }
}

@media (max-width: 700px) {
  main.main-search section.products {
    flex-direction: column;
    align-items: center;
    width: 100%;

    .filters {
      width: 300px;
      align-items: center;

      .categories {
        width: 200px;
        flex: none;

        .category {
          padding-left: 20px;
        }
      }

      fieldset {
        width: 80%;
      }

      .price {
        width: 200px;
      }

      .rating {
        width: 200px;
      }
    }

    .filter-div {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: tomato;
      color: white;
      border-radius: 100%;
      padding: 10px;
      display: flex;

      svg {
        font-size: 34px;
      }
    }
  }
}
