main section.header {
  transition: all 0.5s;
  background: repeating-linear-gradient(tomato, #fff);
  min-height: 70vh;
  padding: 50px 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  gap: 20px;
}

main section.header button {
  border: 1px solid #fff;
  margin: 25px 5px;
  padding: 8px 10px;
  color: #fff;
  background-color: transparent;
}

main section.header button:hover {
  color: blue;
  background-color: #fff;
}

.featured-products {
  padding: 20px 0;
  font-size: large;
  text-align: center;
}

.products-flex {
  overflow: auto;
  display: flex;
  scrollbar-width: none;
  margin-bottom: 30px;
}

.none {
  text-decoration: none;
  color: black;
  flex-grow: 1;
  flex-basis: 3;
}

.product-card {
  border-radius: 15px;
  width: 220px;
  height: 320px;
  overflow: hidden;
  position: relative;
  margin: 10px;
  border: 1px solid #999;

  img {
    object-fit: contain;
    // height: 300px;
    // width: 200px;
  }

  .icon-button {
    position: absolute;
    top: 8px;
    right: 8px;
    opacity: 0.8;
  }

  h4 {
    height: 40px;
    overflow: hidden;
  }
}

.category-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100px;
  flex-direction: column;

  .category-div {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    background-color: tomato;
    box-shadow: 0 0 35px aquamarine;
  }

  h4 {
    text-align: center;
    opacity: 0.8;
  }
}

.product-info:last-child {
  padding-bottom: 10px !important;
}

.ratings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 20px 5px 0;
}

@media screen and (max-width: 650px) {
  main {
    section.header {
      width: 100%;
      min-height: 70vh;
      text-align: center;
    }
  }

  .product-card {
    width: 45vw;
    margin: 8px;
    height: 280px;

    img {
      height: 150px;
    }

    .ratings {
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }
  }
}
