.single-order {
  min-height: 100vh;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  h1 {
    color: tomato;
  }

  .shipping-info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    h2 {
      padding-bottom: 10px;
    }

    p {
      padding: 6px 30px;
      font-weight: 550;
      display: flex;
      gap: 10px;
      font-size: 15px;

      span {
        font-weight: 400;
      }
    }
  }
  .order-items {
    width: 500px;
    padding-left: 10px;

    h2 {
      padding: 20px 0;
    }
    .item-card {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      min-width: 500px;
      align-items: center;
      padding: 10px;
      overflow: hidden;
      height: 70px;

      .item-img {
        display: flex;
        gap: 10px;
        align-items: center;

        img {
          width: 70px;
        }
      }

      .item-price {
        font-weight: 400;

        span {
          font-weight: bold;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .single-order {
    padding: 30px 2px;

    h1 {
      font-size: large;
    }

    .shipping-info {
      padding: 0;
    }

    .order-items {
      width: 100%-7;
      padding-left: 0;

      .item-card {
        width: 95%;
        min-width: 315px;
        padding: 10px 0;
      }
    }
  }
}
