section.forgot-password {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    width: 450px;
    height: 400px;
    box-shadow: 0 0 10px #aaa;
    border-radius: 10px;
    gap: 15px;

    p {
      padding-bottom: 30px;
    }

    input {
      padding-left: 20px;
    }
  }
}
