section.forgot-password {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: #eee;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    width: 450px;
    height: 400px;
    box-shadow: 0 0 10px #aaa;
    border-radius: 10px;
    gap: 15px;

    p {
      padding-bottom: 30px;
      max-width: 400px;
    }

    input {
      padding-left: 10px;
    }

    button {
      margin: 0 20px;
      margin-top: 10px;
      border: none;
      padding: 10px 50px;
      color: white;
      background-color: tomato;
      font-weight: 500;
      letter-spacing: 2px;
      width: 280px;
      outline: none;

      &:hover {
        background-color: white;
        color: tomato;
        border: 1px solid tomato;
      }
    }
  }

  .email-success {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .check-icon {
      padding: 10px;
      background-color: tomato;
      color: white;
      border-radius: 100%;
      margin-bottom: 20px;

      svg {
        font-weight: bolder;
        width: 60px;
        height: 60px;
      }
    }

    div {
      text-align: center;
      color: #333;
    }
  }
}

@media screen and (max-width: 650px) {
  section.forgot-password {
    height: 500px;

    form {
      box-shadow: none;
      border-radius: 0;
      width: 280px;

      p {
        opacity: 0.8;
      }

      input {
        padding-left: 10px;
        width: 80%;
        min-width: 250px;
      }
    }
  }
  .email-success {
    padding: 10px;
  }
}
