section.reset-password {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: #eee;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    width: 450px;
    height: 400px;
    box-shadow: 0 0 10px #aaa;
    border-radius: 10px;
    gap: 20px;

    h2 {
      padding-bottom: 20px;
    }

    button[type="submit"] {
      margin-top: 20px;
      background-color: tomato;
      color: white;
      border: none;
      outline: none;
      width: 30ch;
      padding: 10px;

      &:hover {
        background-color: white;
        color: tomato;
        border: 1px solid tomato;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  section.reset-password {
    height: 500px;

    form {
      box-shadow: none;
      border-radius: 0;
      width: 280px;
    }
  }
}
